<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
</head>
<body>
    <header th:fragment="alv">
        <h1>Bienvenido a Mi Página Web</h1>
    </header>
    <nav th:fragment="alv2">
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#sobre-mi">Sobre Mí</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    <section id="inicio">
        <h2>Inicio</h2>
        <p>Esta es la sección de inicio de mi página web.</p>
    </section>
    <section id="sobre-mi">
        <h2>Sobre Mí</h2>
        <p>Aquí puedes encontrar información sobre mí.</p>
    </section>
    <section id="contacto">
        <h2>Contacto</h2>
        <p>Si deseas contactarme, puedes hacerlo a través de esta sección.</p>
    </section>
    <footer>
        <p>© 2024 Mi Página Web</p>
    </footer>
</body>
</html>
