<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de hoteles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Registro de hoteles</h3>
                <form th:action="@{/hotel/registrohotel}" method="post" th:object="${hotel}" enctype="multipart/form-data">
                    <!-- Campos del formulario -->
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control" id="address" name="address" th:field="*{address}" required>
                    </div>
                    <div class="form-group">
                        <label for="department">Departamento</label>
                        <select class="form-control" id="department" name="department" th:field="*{department}" required>
                            <option value="" disabled selected>Selecciona un departamento</option>
                            <option value="" disabled selected>Selecciona un departamento</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Antioquia">Antioquia</option>
                            <option value="Boyacá">Boyacá</option>
                            <option value="Caldas">Caldas</option>
                            <option value="Cundinamarca">Cundinamarca</option>
                            <option value="Huila">Huila</option>
                            <option value="Norte">Norte de Santander</option>
                            <option value="Quindío">Quindío</option>
                            <option value="Risaralda">Risaralda</option>
                            <option value="Santander">Santander</option>
                            <option value="Tolima">Tolima</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input type="tel" class="form-control" id="phone" name="phone" th:field="*{phone}" required>
                    </div>
                    <div class="form-group">
                        <label for="classification">Clasificación</label>
                        <select class="form-control" id="classification" name="classification" th:field="*{classification}" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="state">Estado</label>
                        <select class="form-control" id="state" name="state" th:field="*{state}" required>
                            <option value="" disabled selected>Selecciona un estado</option>
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="file-upload" class="subir btn btn-primary">
                            <i class="fas fa-cloud-upload-alt">Cargar Imagen</i>
                            <input type="file" id="file-upload" accept="image/*" class="form-control-file" style='display: none;' name="file">
                        </label>
                    </div>
                    <div class="form-group">
                         <label for="swimming_pool">Piscina</label>
                         <select class="form-control" id="swimming_pool" name="swimming_pool" th:field="*{swimming_pool}" required>
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                         </select>
                    </div>
                    <div class="form-group">
                        <label for="wifi">Wifi</label>
                        <select class="form-control" id="wifi" name="wifi" th:field="*{wifi}" required>
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                     </div>

                    <button type="submit" class="btn btn-primary">Registrar Hotel</button>
                </form>
            </div>
        </div>
    </div>
     <footer class="mt-5">
        <div class="container">
            <p>&copy; 2024 Hoteles. Todos los derechos reservados.</p>
            <div class="footer-links">
                <a href="#">Aviso Legal</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Contacto</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
